<div id="main" class="view intro hm-white-light" s>
  <div class="full-bg-img">
    <div class="container-fluid">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 100vh">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">ANADI <a class="indigo-text font-bold">JAGGIA</a></h1>
              <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Student, Programmer, Web Designer</h5>
              <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                 class="btn btn-light-blue btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">About Me</a>
              <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                 class="btn btn-indigo btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">Contact</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
