
<!--todo align timing of bubble and line stopping once you fill it in-->
<!---->

<div class="container">
  <div class="page-header">
</div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span><h4 class="timeline-title">CISCO SYSTEMS</h4></span>
          <p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i>Summer 2016 - San Jose, CA</medium></p>
        </div>
        <div class="timeline-body">
          <p>
            Developed a single page application for Cisco Remote Expert® using the MEAN stack.
            Increased profitability by intelligently connecting customers with a bank’s experts across attended and self-service channels, delivering a
            rich interactive experience across PCs, phones and bank kiosk units.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span><h4 class="timeline-title">COX COMMUNICATIONS</h4></span>
          <p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i>Spring 2017 - Greater Atlanta Area, GA</medium></p>
        </div>
        <div class="timeline-body">
          <p>
            Created an application in GoLang to implement a Dynamic Deep Cache server that saves a projected $8.4 million from 2018 to 2022.
            Wrote software in Perl to prevent the use of anonymous proxies to gain unauthorized access to Cox's Content Delivery Network(CDN) as a secondary project.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span><h4 class="timeline-title">COX COMMUNICATIONS</h4></span>
          <p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i>Fall 2017 - Greater Atlanta Area, GA</medium></p>
        </div>
        <div class="timeline-body">
          <p>
             Using Kafka Streams API, I wrote an application a JAVA application
             to aggregate metrics from a live stream of logs from Cox's CDN. The logs are then written to
             InfluxDB and sent to Grafana for visualization and analysis. This allowed for easier maintenance and monitoring
             of the CDN, better alert notifications and for tracking data usage of future potential customers.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
