<div id="lineHolder" class="slidingBar">

  <ul class="wow fadeInLeft"
      data-wow-delay="0.6s"
      id="textBox">
    <li>
      <strong class="font-weight-italic">Summer 2016</strong>
      <strong class="font-weight-bold">CISCO SYSTEMS</strong>
    </li>
    <li>
      <p>
        Developed
      </p>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <i id="first"
         class="fa fa-circle wow fadeInRight"
         data-wow-delay="0.6s" style="margin-left: 3px;"
         aria-hidden="true"></i>
    </li>

    <li class="list-group-item">
      <i id="second"
         class="fa fa-circle wow fadeInLeft"
         data-wow-delay="0.6s" style="margin-left: 3px;"
         aria-hidden="true"></i>
    </li>

    <li class="list-group-item">
      <i id="third"
         class="fa fa-circle wow fadeInRight"
         data-wow-delay="0.6s" style="margin-left: 3px;"
         aria-hidden="true"></i>
    </li>
  </ul>
</div>

<!--todo align timing of bubble and line stopping once you fill it in-->
