.slidingBar:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid #3f51b5;
  transform: (-50%);
}

ul {
  list-style: none;
}

#lineHolder {
  margin: 10px auto;
  width: 60%;
  position:relative;
  text-align:center;
  animation: slideIn 1s forwards;
}

#textBox {
  margin-top: 15vh;
  z-index: 1;
  position: absolute;
}

#first {
  margin-top: 15vh;
  color :  #3f51b5;
  margin-right: 1px;
}

#second {
  margin-top: 15vh;
  color :  #3f51b5;
  margin-right: 1px;
}

#third {
  margin-top: 15vh;
  color :  #3f51b5;
  margin-right: 1px;
}

.list-group-item {
  border: 0px;
}

/* Standard syntax */
@keyframes slideIn {
  0%   {height: 0vh;}
  100% {height: 89vh;}
}
